<a href="https://colab.research.google.com/github/PavankumarUppar/SMA/blob/main/SMAProgram6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pytrends

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pytrends
  Downloading pytrends-4.9.2-py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.10/dist-packages (from pytrends) (2.27.1)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from pytrends) (1.5.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pytrends) (4.9.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->pytrends) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->pytrends) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0->pytrends) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0->pytrends) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0->pytrends) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0->pytrends) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25->pytrends) (1.16.0)
Installing collected packages: pytrends
Successfully installed pytrends-4.9.2

In [3]:
from pytrends.request import TrendReq

pytrends = TrendReq()

keywords = ["adani group", "tata"]
pytrends.build_payload(keywords, timeframe='today 5-y')

interest_over_time_df = pytrends.interest_over_time()
print(interest_over_time_df)

#historical_hourly_interest_df = pytrends.get_historical_interest(keywords, year_start=2021, month_start=1, day_start=1, hour_start=0, year_end=2021, month_end=1, day_end=2, hour_end=0, cat=0, geo='', gprop='', sleep=0)
#print(historical_hourly_interest_df)

interest_by_region_df = pytrends.interest_by_region()
print(interest_by_region_df)

top_charts_df = pytrends.top_charts(date='2023', geo='GLOBAL')
print(top_charts_df)

related_queries_dict = pytrends.related_queries()
print(related_queries_dict)

suggestions_dict = pytrends.suggestions(keyword='Python')
print(suggestions_dict)

            adani group  tata  isPartial
date
2018-06-17            0     0      False
2018-06-24            0   100      False
2018-07-01            0     0      False
2018-07-08            0     0      False
2018-07-15            0     0      False
...                 ...   ...        ...
2023-05-14            0     0      False
2023-05-21            0     0      False
2023-05-28            0     0      False
2023-06-04            0     0      False
2023-06-11            0     0       True

[261 rows x 3 columns]
                adani group  tata
geoName
Afghanistan               0     0
Albania                   0     0
Algeria                   0     0
American Samoa            0     0
Andorra                   0     0
...                     ...   ...
Western Sahara            0     0
Yemen                     0     0
Zambia                    0     0
Zimbabwe                  0     0
Ã…land Islands             0     0

[250 rows x 2 columns]
None
{'adani group': {'top':                       query  value
0         adani group share    100
1               adani share     93
2   adani group share price     89
3         adani share price     84
4        gautam adani group     52
5              gautam adani     52
6         adani group india     29
7                     india     28
8               adani power     28
9          adani group news     27
10               adani news     27
11               tata group     24
12                     tata     23
13        adani power share     21
14  adani power share price     20
15    adani group companies     18
16            adani company     17
17        adani group stock     15
18              adani stock     14
19                 reliance     14
20           reliance group     14
21  adani group share today     13
22    adani group net worth     13
23          adani net worth     13
24              adani green     12, 'rising':                               query   value
0           adani green share price  235250
1                   brightcom group  152350
2             brightcom group share  148650
3             adani gas share price  145850
4       brightcom group share price  143700
5   hindenburg research adani group   72150
6               hindenburg research   72000
7                 nifty share price   65600
8          adani group shares today   63400
9           adani group shares list   59000
10                  adani total gas   56250
11                adani shares list   56200
12        trident group share price   45450
13      adani total gas share price   44350
14   adani green energy share price   40250
15      richest person in the world   39400
16        ambuja cement share price   38850
17                  tcs share price   36500
18                         nifty 50   34800
19                wipro share price   33950
20                irctc share price   33550
21       adani group all share list   33400
22                paytm share price   28600
23                  acc share price   25050
24              elon musk net worth   24800}, 'tata': {'top':                       query  value
0          tata share price    100
1               tata motors     71
2                  tata sky     68
3         tata motors share     48
4                tata steel     45
5                tata power     43
6   tata motors share price     40
7          tata power share     34
8    tata steel share price     32
9    tata power share price     31
10         tata steel share     29
11                 tata car     26
12               tata nexon     23
13                 tata ipl     19
14               tata tiago     15
15             tata harrier     15
16         tata cara sholat     14
17               tata punch     13
18               ratan tata     12
19         tata nexon price     11
20              tata altroz     11
21        tata sky customer     11
22                tata cars     10
23            tata ipl 2022     10
24           tata car price     10, 'rising':                           query   value
0                   tata altroz  153250
1                 tata ipl 2022  140450
2                  tata harrier  106450
3             tata altroz price   80500
4            tata harrier price   75000
5              tata punch price   68100
6                 tata ipl 2023   53450
7                    tata punch   39450
8      tata punch on road price   37100
9                 tata nexon ev   37100
10    tata altroz on road price   28650
11     adani wilmar share price   27650
12   tata harrier on road price   23150
13      adani green share price   22450
14          tata nexon ev price   22000
15           zomato share price   21800
16            adani green share   18700
17             tata safari 2021   18100
18           tata ipl 2022 live   16450
19             irfc share price   16350
20   tata steel bsl share price   13350
21                   kia seltos   13200
22        idfc first bank share   11400
23   happiest minds share price   11400
24  idfc first bank share price   11350}}
[{'mid': '/m/05z1_', 'title': 'Python', 'type': 'Programming language'}, {'mid': '/g/11fmrll9fp', 'title': 'Automate the Boring Stuff with Python: Practical Programming for Total Beginners', 'type': 'Book by Al Al Sweigart'}, {'mid': '/m/05tb5', 'title': 'Python family', 'type': 'Snake'}, {'mid': '/m/0cv6_m', 'title': 'Pythons', 'type': 'Snake'}, {'mid': '/g/11dxqcx7f2', 'title': 'Deep Learning with Python', 'type': 'Book by FranÃ§ois Chollet'}]